<h1>Listing videos</h1>

<table>
  <thead>
    <tr>
      <th>Avatar</th>
      <th>Video</th>
      <th>Vehicle</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @videos.each do |video| %>
      <tr>
        <td><%=link_to (image_tag video.avatar.url(:medium)), video_path(video)%></td>
        <td><%=link_to "Click here to play", video.video.url, :class => "btn epi_btn" %></td>
        <td><%= video.vehicle.title %></td>
        <td><%= link_to 'Show', video %></td>
        <td><%= link_to 'Edit', edit_video_path(video) %></td>
        <td><%= link_to 'Destroy', video, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Video', new_video_path %>
