<%= simple_form_for @event, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :name %>
  <%= f.input :note %>
  <%= f.input :description %>
  <%= f.input :s_date %>
  <%= f.input :e_date %>
  <%= f.input :location %>
  <%= f.input :avatar %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                events_path, :class => 'btn' %>
  </div>
<% end %>
