<%= simple_form_for @vehicle, :html => { :class => 'form-horizontal' } do |f| %>
  <%= f.input :title %>
  <%= f.input :note %>
  <%= f.input :description %>
  <%= f.input :price %>
  <%= f.input :condition do %>
    <%= f.select :status, ['New', 'Used'], :prompt => "--select--" %>
  <%end%>
  <%= f.input :v_type do %>
    <%= f.select :status, ['car','truk', 'hybird','sport','suv','wegon','others'], :prompt => "--select--" %>
  <%end%>
  <%= f.input :status do %>
    <%= f.select :status, ['sale', 'rent'], :prompt => "--select--" %>
  <%end%>
  <%= f.association :category, :prompt => "----select----" %>
    <%= f.input :location %>
    <%= f.input :vin %>
  <%= f.input :avatar %>
  <%= f.input :active %>
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                vehicles_path, :class => 'btn' %>
  </div>
<% end %>
