<% @vehicles.reverse_each do |vehicle| %>
<div class = "span12">
  <div class="span4 pull-left">
    <%=link_to (image_tag vehicle.avatar.url(:medium)), vehicle_path(vehicle)%>
  </div>
  <div class="span8">
    <div class='span12'>
    <h4 class='pull-left'><%=link_to vehicle.title,vehicle_path(vehicle), :class=> "red"%></h4>
    <%a = Favorite.find_by_vehicle_id(vehicle.id)%>
    <%fav = a.present? && a.active==true ? 'unfav_ajax ' : 'fav_ajax '%>
    <% tit = a.present? && a.active==true ? "Remove_Favorite" : "Add_Favorite"%>
    <span title=<%= tit%> class="make_fav <%= fav%>" id=<%= "#{vehicle.id}"%>>
    </span>
</div>
      <%= truncate(vehicle.note, :length => 130, :omission => '... ') %>
      <%= link_to "more info...", vehicle_path(vehicle) %>
  </div>
</div>
<hr style="width:100%;margin:0px" >
<%end%>



