<%- model_class = Vehicle -%>

<div class="row-fluid" >

<!-- left start-->
  <div class="span3 left_side" id='vehicle_index'>
    <%= render "left_panel"%>
  </div>
<!-- left end -->
<!-- center start -->
  <div class="span6 " >

    <div class="center-box span12">
       <%#raise @filters.inspect%>
      <% data = params[:title].present? ? "SEARCH RESULT FOR '#{params[:title]}' " : "VEHICLES" %>
      <h3 class="span8 pull-left"><%= data%></h3>
      <span class="pull-right span4">
        <p><%=@vehicles.count%> results</p>
        <p>
        Sort by <span class="red">Most relevent</span></p>
      </span>
    </div>
    <span class="span12">
      <hr class="bar center_bar " style="background-color:red">
      <%= render "vehicles_list" %>
    </span>
  </div>
<!-- center end -->

<!-- right start -->
  <div class="span3 " >
    <hr class="bar rex">
    <div class="box-title">
      <h5 class="span8 pull-left">OPENHOODS TALK</h5>
      <span class="pull-right span4"><%= link_to "View all", "#" %></span>
    </div>

    <hr class="bar rex">

    <div class="box-title" id='service'>
      <h5 class="span8 pull-left">SERVICE LINKS</h5>
      <span class="pull-right span4"><%= link_to "View all", "#" %></span>
      <div>
        <span class='span7'>GARAGES
          <%= image_tag 'setting.jpg', :class=>'pull-right'%>
        </span>
        <span class='span7'>INSURANCE
          <%= image_tag 'insure.jpg', :class=>'pull-right'%>
        </span>
        <span class='span7'>RENTALS
          <%= image_tag 'rent.jpg', :class=>'pull-right'%>
        </span>
        <span class='span7'>TOWING
          <%= image_tag 'tow.jpg', :class=>'pull-right'%>
        </span>
        <span class='span7'>STORAHE
          <%= image_tag 'store.jpg', :class=>'pull-right'%>
        </span>
      </div>
    </div>



  </div>
<!-- right end-->


</div>

<%#= paginate @vehicles %>
