<%- model_class = Vehicle -%>

<div class='row-fluid' id = "v_show" >
  <%unless params[:video].present?%>
  <div class="span3 pull-left play_video">
    <%=image_tag @vehicle.avatar.url(:large) %>
  </div>
  <div class="span8">
    <span class='pull-right span2 '>
      <% path = @vehicle.video.present? ? Video.find(@vehicle.video.id) : Video.new %>
      <%= simple_form_for path do |f| %>
        <%=f.button :submit, :class=>'btn btn-small btn-primary', :id => 'v_video'%>
        <%= f.file_field :video , :id => 'att_video'%>
        <%= link_to 'Cancel','#', :id => 'cancel_video', :class=> 'btn btn-small' %>
        <%= f.input :user_id, :as => :hidden, :input_html => { :value => current_user.id } %>
        <%= f.input :vehicle_id, :as => :hidden, :input_html => { :value => @vehicle.id } %>
      <% end %>
    </span>
    <span class='pull-left span9 '>
      <h4><%=link_to @vehicle.title,'', :class=> "red"%></h4>
      <%= @vehicle.note %>
      <% if @vehicle.video.present? %>
        <div style='margin:10px 0 0 10px'><%=link_to "click here to play video",vehicle_path(@vehicle.id,:video =>'play_video') , :class => 'btn btn-small btn-primary'%></div>
      <%end%>
    </span>
    <%else%>
      <div id='video_cont' class='offset1 span10'>
        <video class='span12' src="<%= @vehicle.video.video.url%>" controls autoplay >
        </video>
      </div>
    <%end%>
  </div>
</div>

<div class='span12 ' style="margin:10px">
      <h2>Description</h2>
  <%= @vehicle.description%>
</div>

<div class='comment span5' >
  <div id="title" >
    <h2  style='margin-top:10px'>Comments</h2>
  </div>
  <%= form_for @vehicle, :url => comment_path,  :method => :get do |f|%>
  <div class='span8 pull-left'>
  <%= label_tag "title"%>
  <%= text_field_tag "title", nil, :class=>'span5'%>
  <%= hidden_field_tag 'user_id', current_user.id%>
  <%= hidden_field_tag 'id', @vehicle.id%>
  <%= label_tag "comment"%>

  <%= text_area_tag "comment",nil,{:class=>'sapn4', size: "50x5"}%>
  </div>
  <div class='span1 offset7'>
  <%= submit_tag%>
  </div>
  <% end %>
<div class ='span8'>
  <% @vehicle.comments.reverse_each do |i|%>
  <div class='span11' id='cmt'>
    <div class='span2'>
      <span class='pull-left'><%=image_tag i.user.avatar.url(:small)rescue nil %></span>
      <span>
        <%= i.user.id rescue nil%><br>
        <%= i.user.name rescue nil%>
      </span>
    </div>
      <span class='red'><%= i.title%></span><br>
      <%=i.comment%>
    <br>
  </div>
  <%end%>
</div>
<%# raise @vehicle.comments.create(:title => "First comment.", :comment => "This is the first comment.").inspect%>
